* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.3333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

/* Main */
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: rgb(5, 5, 95);
    z-index: 1;
}

#nav {
    display: inline-block;

}

#nav, .subnav {
    list-style-type: none;

}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    cursor: pointer;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav li {
    display: block;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

.nav-arrow-down {
    font-size: 14px;
}

#header .search-btn,
#header .mobi-menu-btn {
    float: right;
    height: 46px;
}

#header .mobi-menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobi-menu-btn:hover {
    background-color: #ccc;
}

#header .mobi-menu-btn:hover .mobi-menu-icon {
    color: #000;
}

#header .search-icon,
#header .mobi-menu-icon {
    color: #fff;
    font-size: 20px;
    padding: 0 21px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 55%;
    background: url('../assets/image/Slider/2021061501.jpeg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 20px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    color: #fff;
}
#slider .text-heading {
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 10px;
}
#slider .text-discription {
    margin-top: 15;
    font-size: 15px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}

#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    opacity: 0.6;
    text-align: center;
    font-style: italic;
}

#content .member-list {
    margin-top: 32px;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 50px;
    list-style-type: none;
    background-color: #fff;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
    background-color: #f44336;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 100%;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    background-color: #000;
}

.place-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.7;
}

.place-body {
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 2;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15xp;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6)
}

#footer .socials-list a,
#footer .copy-right a {
    text-decoration: none;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);    
}
#footer .socials-list a:hover{
    opacity: 0.4;
}

.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-container{
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.6s;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 16px;
}

.modal-close:hover {
    color: #f44336;
    cursor: pointer;
}

.modal-header {
    height: 130px;
    display: flex;
    font-size: 30px;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #009688;
}

.modal-heading-icon {
    margin-right: 10px;
}

.modal-body {
    padding: 16px 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

.modal-input {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.modal-footer {
    font-size: 15px;
    text-align: right;
    margin: 15px 0;
}

.modal-footer a {
    color: #2196F3;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}